/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.home .main-nav {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
@media (max-width:515px) {
  .home .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home .main-nav h1 {
    padding: 5px 0;
  }
}
.home h1 {
  margin-left: 20px;
}
.home nav {
  display: flex;
  align-items: center;
}
.home a {
  color: gray;
  text-decoration: none;
  margin-left: 20px;
}
@media (max-width:515px) {
  .home a {
    margin-right: 50px;
    padding: 10px 0;
  }
}
.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background: #FFEBCD;
}
.footer p {
  text-align: center;
  color: #212529;
  font-size: 1.6rem;
  padding: 20px;
}
.home .main-header {
  border-top: 2px dashed silver;
  border-bottom: 2px dashed silver;
}
@media (max-width:515px) {
  .home .main-header {
    width: 90%;
    margin-left: 20px;
  }
}
.home .main-header img {
  width: 90%;
  margin-left: 20px;
}
.home .main-header h2 {
  margin: 20px 0;
  margin-left: 20px;
}
@media (max-width:515px) {
  .home .main-header h2 {
    margin-left: 20px;
  }
}
.home .main-header p {
  width: 89%;
  font-size: 2rem;
  margin-left: 20px;
}
@media (max-width:515px) {
  .home .main-header p {
    width: 85%;
    margin-left: 20px;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width:515px) {
  .home .content-section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
  }
}
.home .content-section .text-content {
  width: 46%;
  padding-right: 1%;
}
@media (max-width:515px) {
  .home .content-section .text-content {
    width: 95%;
    margin: 1%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width:515px) {
  .home .content-section .img-content {
    width: 80%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
@media (max-width:515px) {
  .home .content-section .img-content img {
    width: 100%;
  }
}
.home .inverse-content {
  padding-bottom: 30px;
  border-bottom: 2px dashed #C0C0C0;
}
@media (max-width:515px) {
  .home .inverse-content {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .inverse-content .text-content {
  padding-left: 1%;
  padding-right: 0;
  width: 90%;
}
.home .inverse-content .img-content {
  padding-right: 1%;
  padding-left: 1%;
}
@media (max-width:515px) {
  .home .inverse-content .img-content {
    width: 80%;
  }
}
.home .content-destination {
  width: 75%;
  margin: 0 auto 30px;
}
.home .content-destination img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  border-top: 2px dashed #C0C0C0;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width:515px) {
  .home .content-pick {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
}
.home .content-pick .destination {
  width: 30%;
  margin-bottom: 30px;
}
@media (max-width:515px) {
  .home .content-pick .destination {
    width: 66%;
    margin: 0 auto;
    padding: 20px ;
  }
}
.home .content-pick .btn {
  background-color: green;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .content-pick .btn:hover {
  background-color: white;
  color: green;
}
@media (max-width:515px) {
  .home .content-pick .btn {
    width: 300px;
    background-color: #17A2B8;
  }
}
